@import url("https://fonts.googleapis.com/css2?family=Assistant&family=DM+Sans&family=Inter:wght@400;500;600;800&family=Poppins:wght@600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr-1: #f45113;
  --primary-clr-2: #0a142f;
  --primary-clr-3: #18191f;
  --primary-clr-4: #252b42;
  --primary-clr-5: #818181;
  --primary-clr-6: #bdbdbd;
  --bg-colour-1: #e5e5e5;
  --bg-colour-2: #f5f5f5;
  --bg-colour-3: rgba(244, 81, 30, 0.07);
  --white: #fff;
  --black: #000;
  --transition: all 0.2s linear;
  --family-1: "Assistant", sans-serif;
  --family-2: "DM Sans", sans-serif;
  --family-3: "Inter", sans-serif;
  --family-4: "Poppins", sans-serif;
  --primary-color-1: ;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
body {
  min-width: 95vw;
  overflow-x: hidden;
}
.hero {
  background: linear-gradient(
      200.44deg,
      rgba(0, 0, 0, 0.0001) 16.41%,
      rgba(0, 0, 0, 0.51) 77.16%
    ),
    url("./images/hero-image.webp") center/cover no-repeat;
  min-height: 100vh;
  min-width: 95vw;
  padding: 1rem 2rem;
}
.navbar,
.links-cont {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navbar {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #fff;
}
.navlinks {
  display: none;
}
.links-cont {
  gap: 1rem;
}
/* top, right, bottom, left */
.link {
  padding: 0 1rem 2rem 1rem;

  color: white;
  transition: var(--transition);
}
.link:hover {
  border-bottom: 2.32px solid #fff;
}
.logo {
  width: 5rem;
}
.logo-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 8rem;
  }
  .navbar {
    padding-bottom: 2rem;
  }
  .hero {
    padding: 1rem 5rem;
  }
  .menu-btn {
    display: none;
  }
  .navlinks {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .links-cont {
    gap: 4.62rem;
  }
  .hero {
    padding: 1rem 7.5rem;
  }
}
.hero-cont {
  display: block;
}
.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  min-width: 70vw;
  height: calc(80vh - 3rem);
}

#hero-map {
  width: 85%;
  margin: 0 auto;
  height: 10rem;
  background: grey;
  border-radius: 1rem;
}
.hero-info {
  text-transform: capitalize;
  color: #fff;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: center;
  font-family: var(--family-3);
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hero-map {
    width: 25rem;
    height: 20rem;
    background: grey;
    border-radius: 1rem;
  }
  .hero-info {
    max-width: 30rem;
  }
}
.form-cont {
  width: 85%;
  margin: 0 auto;
  border: 2px solid red;
  padding: 1rem 1.5rem;
  background: grey;
}
.input-img {
  background: url("./images/arrow-down.svg") no-repeat;
  padding: 0.5rem;
}
main {
  min-width: 95vw;
}

.section-center {
  padding: 5rem 4rem;
}
/* 
==========================
==========================
Features Section
==========================
==========================
*/
.features-section {
  background: var(--bg-colour-2);
}
.underline {
  border-bottom: 3px solid var(--primary-clr-1);
}
.title {
  color: var(--primary-clr-3);
  font-weight: 800;
  font-family: var(--family-3);
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: capitalize;
}
.title-two {
  color: var(--primary-clr-1);
}
.features-title {
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.features-icon {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.icon-cont {
  background: var(--white);
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-text {
  color: var(--primary-clr-3);
  font-family: var(--family-3);
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  width: 7rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  .title-two {
    color: var(--primary-clr-1);
  }
  .features-title {
    text-transform: capitalize;
    margin-bottom: 2.5rem;
  }
  .icon-cont {
    padding: 1.25rem;
    width: 4.75rem;
    height: 4.75rem;
    margin-bottom: 1.25rem;
  }
  .icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .icon-text {
    color: var(--primary-clr-3);
    font-family: var(--family-3);
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
    width: 10rem;
  }
}

@media screen and (max-width: 376px) {
  .section-center {
    padding: 5rem 3rem;
  }
  .features-title {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 321px) {
  .features-icon {
    gap: 1rem;
  }
  .icon-text {
    font-size: 0.75rem;
    width: 5rem;
  }
  .section-center {
    padding: 5rem 2.5rem;
  }
  .features-title {
    font-size: 1.15rem;
  }
}
.features-images {
  width: 15rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 5px 24px 54px rgba(0, 0, 0, 0.25); */
}
.feature-img {
  /* box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .features-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
  }
  .features-icon {
    width: 60%;
  }
  .features-images {
    height: 24rem;
  }
}

@media screen and (min-width: 1024px) {
  .features-images {
    height: 35rem;
    width: 30rem;
  }

  .icon-text {
    font-size: 1.5rem;
    width: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  .icon-text {
    font-size: 1.5rem;
    width: 15rem;
  }
}
/* 
==========================
==========================
Properties Section
==========================
==========================
*/
.properties-section {
  background: var(--bg-colour-1);
}
.title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.property-btn {
  width: 10rem;
  height: 4rem;
  text-align: center;
  text-transform: capitalize;
  background: var(--primary-clr-1);
  color: var(--white);
}
.property-card {
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  border-radius: 24px;
  box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
}
.prop-cont {
  width: 100%;
  height: 12rem;
}
.prop-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.prop-content {
  background-color: var(--white);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.prop-div {
  padding: 1rem;
}
.property-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}
.prop-title,
.prop-room,
.prop-price,
.icon-num {
  font-family: var(--family-2);
  font-weight: 700;
}
.prop-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.prop-room {
  color: var(--primary-clr-6);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
  font-size: 0.75rem;
}
.prop-price {
  color: var(--primary-clr-1);
  margin-bottom: 0.5rem;
}
.prop-icon-cont {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #e4e4e4;
}
.prop-icons {
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  justify-content: center;
  width: 33.33%;
  align-items: center;
}
.prop-icon {
  margin-right: 0.5rem;
}
.prop-icon-two {
  border-right: 2px solid #e4e4e4;
}
@media screen and (min-width: 425px) {
  .property-card {
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .property-card {
    width: 22rem;
  }
  .prop-cont {
    width: 100%;
  }
  .prop-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .prop-room {
    color: var(--primary-clr-6);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
    font-size: 1rem;
  }
  .prop-price {
    color: var(--primary-clr-1);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 376px) {
  .props-title {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 321px) {
  .props-title {
    font-size: 1.25rem;
  }
}
